Body{
  margin: 0;
  background-color: #f4f4f4; 
  max-height: 100vh;
  overflow: hidden;
  filter: invert(85%);
  background-color: rgb(31, 32, 39);
}

.flex{display: flex;}
.grid{display: grid;}
.flexCenter{display: flex; align-items: center;}

h1{
  font-family: 'Blinker', sans-serif;
  text-decoration: underline;
 }
h2{
  font-family: 'Blinker', sans-serif;
  font-weight: 300;  
  font-variant: petite-caps;}

.Main{height: 100vh;}

.Navbar{
  /*background-color: black;*/
  color: #f4f4f4;
  position: absolute;
  bottom: 0px;
  right: 40px;
  border-radius:10px 10px 0px 0px;
}
.navButton:link    {color:black; text-decoration: none;}
.navButton:visited {color: black;}
.navButton:hover   {
   font-family: 'Rubik Glitch', cursive;
   font-weight: 200;
   font-size: 35px;}
.navButton{
  margin: 20px;
  font-family: 'Blinker', sans-serif;
  font-size: 40px;
  font-weight: 700;
}



/*home page ***************************************************************************************************************/

.iconBar{
  position: absolute;
  display: block;
}
.txtBox{display: grid;}
.icon img{
  margin-top: 30px;
  margin-left: 30px;
  height: 45px;
}
.icon:link, :visited{
  color: black;
  text-decoration: none;
  font-family: 'Rubik Glitch', cursive;
  font-weight: 200;
  font-size: 15px;
}
.icon span{
  display: none;
}
.icon:hover span{
  display: none;
}
.icon:hover{cursor: pointer;}


.name{
  font-size: 45px;
  font-family: 'Rubik Glitch', cursive;
}
.subtitle{
  font-size: 20px;
  font-family: 'Blinker', sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  font-variant: petite-caps;
}
.mainDiv{
  height: 100vh;
  width: 100vw;
  text-align: center;
  
}
.Background{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: 700px;
}

/*about page ****************************************************************************************/

.page{
  height: 100vh;
  width: 100vw;
  font-family: monospace;
  font-size: larger;
}

.aboutTextBox{
  width: 80vw;
  padding: 10vw;
}

.techStack{
  width: 20vw;
  padding-top: 10vw;
  padding-right: 50px;
}

.projects{padding-left: 25vw; padding-top: 10vh;}
.project{display: grid;margin-bottom: 20px;}
.project a:link{color: black;}
.project a:visited{text-decoration: line-through;}

.pdfIcon{height: 40px; padding-right: 5px;}

.cv{
  text-align: right;
  width: fit-content;
  padding-left: 10vw;
  font-family: 'Blinker';
}

/*contact page **************************************************************************/

.contact{margin-left: 25vw;}

.contactImg{height: 40px; margin: 5px;}

.iconTitle{font-family: 'Blinker';margin: 5px; font-weight: 700;}

.iconValue{ font-family: monospace;margin: 5px;}