Body{
  margin: 0;
  max-height: 100vh;
  overflow: hidden;
  background-color: #1f2027;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
Body::-webkit-scrollbar {
  display: none;
}
h1{
  font-family: 'Blinker', sans-serif;
  text-decoration: underline;}
h2{
  font-family: 'Blinker', sans-serif;
  font-weight: 300;  
  font-variant: petite-caps;}
.flex{display: flex;}
.block{display: block;}
.grid{display: grid;}
.flexCenter{display: flex; justify-content: center;}
.Main{height: 100vh;}
.Navbar{
  background-color: #1f2027;
  position: absolute;
  bottom: 0px;
  right: 40px;
  border-radius:10px 10px 0px 0px;
}
.navButton{
  
  text-align: center;
  margin-left: 10px;
  font-family: 'Blinker', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.navButton:hover   {
  font-family: 'Rubik Glitch', cursive;
  font-weight: 200;
  font-size: 16px;}
.navButton:link    {color: #d9d9d9;; text-decoration: none;}
.navButton:visited {color: #d9d9d9;}
.navButton:current {font-family: 'Rubik Glitch', cursive;}

/*home page ***************************************************************************************************************/

.iconBar{position: absolute;display: block; }
.txtBox{display: grid;}
.icon img{
  filter: invert(85%);
  margin-top: 30px;
  margin-left: 30px;
  height: 30px;
}
.icon:link, :visited{
  color: #d9d9d9;
  text-decoration: none;
  font-family: 'Rubik Glitch', cursive;
  font-weight: 200;
  font-size: 15px;
}
.icon span{display: none;}
.icon:hover span{display: none;}
.icon:hover{cursor: pointer;}

.name{
  font-size: 25px;
  font-family: 'Rubik Glitch', cursive;
}
.subtitle{
  font-size: 10px;
  font-family: 'Blinker', sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  font-variant: petite-caps;
}
.mainDiv{
  height: 100vh;
  width: 100vw;
  text-align: center;
  
}
.Background{
  filter: invert(85%);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: 350px;
}

/*about page ****************************************************************************************/

.about{
  display: flex;
  color: #d9d9d9;
  font-size: small;
  width: 100vw;
  font-family: monospace;
  padding-bottom: 80px;
  max-height: 70vh;
  padding-top: 2vw;
}

.aboutTextBox{
  height: fit-content;
  width: 80vw;
  padding: 40px;
}

.techStack{
  height: fit-content;
  padding: 40px;
  width: 20vw;
}

.pdfIcon{height: 20px; padding-right: 5px; filter: invert(85%);}

.cv{
  text-align: right;
  width: fit-content;
  padding-left: 5vw;
  font-family: monospace;
  font-size: 10px;
  color: #d9d9d9;
}

/*Projects page ****************************************************************************************/
.projects{padding-left: 25vw; padding-top: 5vh; color: #d9d9d9; font-size: smaller;}
.project{display: grid;margin-bottom: 20px;}
.project a:link{color: #d9d9d9;}
.project a:visited{text-decoration: line-through;}


/*contact page **************************************************************************/
.contact{height: 100vh; align-items: center;}
.contactImg{height: 40px; margin: 5px;}

.iconTitle{font-family: 'Blinker';margin: 5px; font-weight: 700;}

.iconValue{ font-family: monospace;margin: 5px;}

/*mobile seetings ------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 800px) {
  .mobileBLock{display: block;}
  .Main{height: 98vh; overflow-y: scroll;}
  .Page{
    height: fit-content;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; }
  .Page::-webkit-scrollbar {
    display: none; 
  }  


  .navButton, .navButton:hover{
    text-align: center;
    margin-left: 0px;
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
  .Navbar, .iconBar{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    right: 0;
  }
  .icon img{margin-left: 0px;}


  .aboutTextBox, .techStack{
    font-size: 2vh;
    width: 90vw;
    padding: 10px;
  }
  
  .about{display: block; height: fit-content;}

  
.pdfIcon{height: 4vh; padding-right: 5px; filter: invert(85%);}

  .cv{
    background-color: #1f2027;
    position: fixed;
    bottom: 5vh;
    width: 100vw;
  }
  


  .projects{padding-left: 4vw; width: 90vw;}
  .project{display: grid;margin-bottom: 20px;}
  .project a:link{color: #d9d9d9;}
  .project a:current{font-family: 'Rubik Glitch', cursive;}
  .project a:visited{text-decoration: line-through;}



}